In [1]:
import OpenBlender
import pandas as pd
import numpy as np
import json

In [4]:
token = '5fb0f21e951629785fb674bfSaw9f9kAXFtVMAXL11GpD2kdC2XNtG'
# Specify the action
action = 'API_getObservationsFromDataset'
interval = 60 * 60 * 24 # One day
parameters = { 
 'token' : token,
    'id_dataset':'5d4c39d09516290b01c8307b',
    'date_filter':{"start_date":"2017-01-01T06:00:00.000Z",
                   "end_date":"2020-11-10T06:00:00.000Z"},
    'aggregate_in_time_interval' : {
              'time_interval_size' : interval, 
              'output' : 'avg', 
              'empty_intervals' : 'impute'
      }
}
        
# Pull the data into a Pandas Dataframe
df = pd.read_json(json.dumps(OpenBlender.call(action, parameters)['sample']), convert_dates=False, convert_axes=False)
df.reset_index(drop=True, inplace=True)
df['date'] = [OpenBlender.unixToDate(ts, timezone = 'GMT') for ts in df.timestamp]
df = df.drop('timestamp', axis = 1)

Task ID: '5fb0f28c0895fafb4a9d8d4b'.
Total estimated consumption: 9974.48 processing units.
Task confirmed. Starting download..
33.33 %
66.67 %
100.0 % completed.

In [5]:
df.head()

,price,high,count_agg,low,open,change,date
0,215.040000,217.19,1,214.03,216.800000,-0.19,22-08-2018 00:00:00
1,215.460000,219.18,1,215.11,218.100000,-0.97,21-08-2018 00:00:00
2,216.166667,218.77,0,214.46,216.546667,0.02,20-08-2018 00:00:00
3,216.873333,218.36,0,213.81,214.993333,1.01,19-08-2018 00:00:00
4,217.580000,217.95,1,213.16,213.440000,2.00,18-08-2018 00:00:00

In [6]:
df['timestamp'] = OpenBlender.dateToUnix(df['date'], 
                                           date_format = '%d-%m-%Y %H:%M:%S', 
                                           timezone = 'GMT')

# Now, let's search on OpenBlender
search_keyword = 'business'
df = df.sort_values('timestamp').reset_index(drop = True)
print('From : ' + OpenBlender.unixToDate(min(df.timestamp)))
print('Until: ' + OpenBlender.unixToDate(max(df.timestamp)))
# We need to pass our timestamp column and 
# search keywords as parameters.
OpenBlender.searchTimeBlends(token,
                             df.timestamp,
                             search_keyword)

From : 01-01-2017 00:00:00
Until: 10-11-2020 00:00:00

[{'name': 'Washington Post Business News Headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d571a989516293a12ad4f4c',
  'id_dataset': '5d571a989516293a12ad4f4c',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 791,
  'intersection': '100%',
  'description': 'Washington Post Business News Headlines daily headlines'},
 {'name': 'The Independent Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8660679516296ba7e6a432',
  'id_dataset': '5d8660679516296ba7e6a432',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 6675,
  'intersection': '100%',
  'description': 'Daily news headlines of The Independent Business'},
 {'name': 'Belfast Telegraph Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d884b739516294231c5961e',
  'id_dataset': '5d884b739516294231c5961e',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 42,
  'intersection': '100%',
  'description': 'Daily news headlines of Belfast Telegraph Business'},
 {'name': 'Chandigarh Metro Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5da925fc95162922aa02df3b',
  'id_dataset': '5da925fc95162922aa02df3b',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 404,
  'intersection': '100%',
  'description': 'Daily news headlines of Chandigarh Metro Business'},
 {'name': 'FoxBusiness Twitter',
  'url': 'https://www.openblender.io/#/dataset/explore/5e13a210951629100dd89e84',
  'id_dataset': '5e13a210951629100dd89e84',
  'features': ['favorites',
   'geo',
   'hashtags',
   'id',
   'mentions',
   'permalink',
   'retweets',
   'text',
   'timestamp',
   'username'],
  'num_observations': 97950,
  'intersection': '100%',
  'description': 'The latest Twitter threads from FoxBusiness (@FoxBusiness)'},
 {'name': 'FXStreet News Tweet',
  'url': 'https://www.openblender.io/#/dataset/explore/5eb07763951629211662ba6c',
  'id_dataset': '5eb07763951629211662ba6c',
  'features': ['associated_tweet',
   'author',
   'author_id',
   'favorite_count',
   'hashtags',
   'id',
   'links',
   'mentions',
   're_tweeter',
   'reply_count',
   'retweet_count',
   'text',
   'time',
   'type'],
  'num_observations': 16820,
  'intersection': '13.53%',
  'description': 'The latest Twitter threads from FXStreet News (@FXstreetNews). 24/5 realtime forex news.'},
 {'name': 'Bloomberg Opinion Tweet',
  'url': 'https://www.openblender.io/#/dataset/explore/5ea82caa951629637391888c',
  'id_dataset': '5ea82caa951629637391888c',
  'features': ['associated_tweet',
   'author',
   'author_id',
   'favorite_count',
   'hashtags',
   'id',
   'links',
   'mentions',
   're_tweeter',
   'reply_count',
   'retweet_count',
   'text',
   'time',
   'type'],
  'num_observations': 21383,
  'intersection': '22.35%',
  'description': 'The latest Twitter threads from Bloomberg Opinion (@bopinion).'},
 {'name': 'Bloomberg Tweet',
  'url': 'https://www.openblender.io/#/dataset/explore/5ea82c58951629637391885d',
  'id_dataset': '5ea82c58951629637391885d',
  'features': ['associated_tweet',
   'author',
   'author_id',
   'favorite_count',
   'hashtags',
   'id',
   'links',
   'mentions',
   're_tweeter',
   'reply_count',
   'retweet_count',
   'text',
   'time',
   'type'],
  'num_observations': 75607,
  'intersection': '22.36%',
  'description': 'The latest Twitter threads from Bloomberg (@business). The first word in business news.'},
 {'name': 'QuickTake by Bloomberg Tweet',
  'url': 'https://www.openblender.io/#/dataset/explore/5ea82cdf9516296374e42ffa',
  'id_dataset': '5ea82cdf9516296374e42ffa',
  'features': ['associated_tweet',
   'author',
   'author_id',
   'favorite_count',
   'hashtags',
   'id',
   'links',
   'mentions',
   're_tweeter',
   'reply_count',
   'retweet_count',
   'text',
   'time',
   'type'],
  'num_observations': 29438,
  'intersection': '22.36%',
  'description': 'The latest Twitter threads from QuickTake by Bloomberg (@QuickTake).'},
 {'name': 'Bloomberg Markets Tweet',
  'url': 'https://www.openblender.io/#/dataset/explore/5ea82d2195162963739188a4',
  'id_dataset': '5ea82d2195162963739188a4',
  'features': ['associated_tweet',
   'author',
   'author_id',
   'favorite_count',
   'hashtags',
   'id',
   'links',
   'mentions',
   're_tweeter',
   'reply_count',
   'retweet_count',
   'text',
   'time',
   'type'],
  'num_observations': 11359,
  'intersection': '22.36%',
  'description': 'The latest Twitter threads from Bloomberg Markets (markets). Breaking news and analysis on global financial markets.'},
 {'name': 'Orissa Post Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5da9252f95162922aa02df29',
  'id_dataset': '5da9252f95162922aa02df29',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2697,
  'intersection': '24.21%',
  'description': 'Daily news headlines of Orissa Post Business, source: https://www.orissapost.com/business-news/'},
 {'name': 'Live Nagpur Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5da9247795162922aa02df23',
  'id_dataset': '5da9247795162922aa02df23',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 347,
  'intersection': '25.06%',
  'description': 'Daily news headlines of Live Nagpur Business'},
 {'name': 'Daily Record Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d884b1d9516294231c5960c',
  'id_dataset': '5d884b1d9516294231c5960c',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 14809,
  'intersection': '27.4%',
  'description': 'Daily news headlines of Daily Record Business'},
 {'name': 'Telangana Today Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5da926bf95162922ab5639e8',
  'id_dataset': '5da926bf95162922ab5639e8',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 958,
  'intersection': '27.49%',
  'description': 'Daily news headlines of Telangana Today Business'},
 {'name': 'Asian Age Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5da9265895162922ab5639e2',
  'id_dataset': '5da9265895162922ab5639e2',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2397,
  'intersection': '27.56%',
  'description': 'Daily news headlines of Asian Age Business'},
 {'name': 'Daily Mash Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d884bf39516294231c5964b',
  'id_dataset': '5d884bf39516294231c5964b',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 754,
  'intersection': '27.88%',
  'description': 'Daily news headlines of Daily Mash Business'},
 {'name': 'Indian Express Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d9201b295162936ebc05e17',
  'id_dataset': '5d9201b295162936ebc05e17',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 108,
  'intersection': '27.88%',
  'description': 'Daily news headlines of Indian Express Business'},
 {'name': 'LA Times Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8cb41f95162904d39b98f1',
  'id_dataset': '5d8cb41f95162904d39b98f1',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 3313,
  'intersection': '28.13%',
  'description': 'Daily news headlines of LA Times Business'},
 {'name': 'State Times Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5da9270e95162922aa02df4d',
  'id_dataset': '5da9270e95162922aa02df4d',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 553,
  'intersection': '28.18%',
  'description': 'Daily news headlines of State Times Business'},
 {'name': 'Washington Times Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8cb61595162904d40d4072',
  'id_dataset': '5d8cb61595162904d40d4072',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 19412,
  'intersection': '29.05%',
  'description': 'Daily news headlines of Washington Times Business'},
 {'name': 'CS Monitor Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8cbc4795162904d39b99f5',
  'id_dataset': '5d8cbc4795162904d39b99f5',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 915,
  'intersection': '29.05%',
  'description': 'Daily news headlines of CS Monitor Business'},
 {'name': 'News 24 Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8cb90495162904d39b997c',
  'id_dataset': '5d8cb90495162904d39b997c',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2477,
  'intersection': '29.07%',
  'description': 'Daily news headlines of News 24 Business'},
 {'name': 'Time Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8848f49516294231c59588',
  'id_dataset': '5d8848f49516294231c59588',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 770,
  'intersection': '29.27%',
  'description': 'Daily news headlines of Time Business'},
 {'name': 'Forbes Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8847eb9516294231c59538',
  'id_dataset': '5d8847eb9516294231c59538',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 16838,
  'intersection': '29.28%',
  'description': 'Daily news headlines of Forbes Business'},
 {'name': 'ABC News AU Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8852059516294231c596c0',
  'id_dataset': '5d8852059516294231c596c0',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2659,
  'intersection': '29.32%',
  'description': 'Daily news headlines of ABC News AU Business'},
 {'name': 'Breaking News Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d865df19516296ba7e6a3d2',
  'id_dataset': '5d865df19516296ba7e6a3d2',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 10151,
  'intersection': '29.4%',
  'description': 'Daily news headlines of Breaking News Business'},
 {'name': 'Breaking News Central Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d865e159516296ba7e6a3de',
  'id_dataset': '5d865e159516296ba7e6a3de',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2492,
  'intersection': '29.4%',
  'description': 'Daily news headlines of Breaking News Central Business'},
 {'name': 'News Wise Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d865f919516296ba66ec3f2',
  'id_dataset': '5d865f919516296ba66ec3f2',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 835,
  'intersection': '29.4%',
  'description': 'Daily news headlines of News Wise Business'},
 {'name': 'World News Group Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8661319516296ba7e6a463',
  'id_dataset': '5d8661319516296ba7e6a463',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 208,
  'intersection': '29.4%',
  'description': 'Daily news headlines of World News Group Business'},
 {'name': 'CNBC Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d82db51951629088e586b28',
  'id_dataset': '5d82db51951629088e586b28',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2216,
  'intersection': '29.41%',
  'description': 'Daily news headlines of CNBC Business'},
 {'name': 'Chron Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8847cd9516294231c5952c',
  'id_dataset': '5d8847cd9516294231c5952c',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2527,
  'intersection': '29.54%',
  'description': 'Daily news headlines of Chron Business'},
 {'name': 'Times of India  World Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d824b72951629088e5865a8',
  'id_dataset': '5d824b72951629088e5865a8',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2332,
  'intersection': '29.55%',
  'description': 'Daily news headlines of Times of India  World Business'},
 {'name': 'BBC News Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d82477f951629088f08cef5',
  'id_dataset': '5d82477f951629088f08cef5',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2066,
  'intersection': '29.6%',
  'description': 'Daily news headlines of BBC News Business'},
 {'name': 'ABC News  International Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d7f92229516294be60fe47a',
  'id_dataset': '5d7f92229516294be60fe47a',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 9221,
  'intersection': '29.77%',
  'description': 'Daily news headlines of ABC News  International Business'},
 {'name': 'Evening Express  World Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d7f93829516294be568af53',
  'id_dataset': '5d7f93829516294be568af53',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 3831,
  'intersection': '29.77%',
  'description': 'Daily news headlines of Evening Express  World Business'},
 {'name': 'Standard Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d884a889516294231c595e2',
  'id_dataset': '5d884a889516294231c595e2',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 6673,
  'intersection': '29.77%',
  'description': 'Daily news headlines of Standard Business'},
 {'name': 'Sputnik Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d86602f9516296ba7e6a42b',
  'id_dataset': '5d86602f9516296ba7e6a42b',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 4001,
  'intersection': '29.8%',
  'description': 'Daily news headlines of Sputnik Business'},
 {'name': 'Wired UK Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8849b19516294231c595b9',
  'id_dataset': '5d8849b19516294231c595b9',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 992,
  'intersection': '30.23%',
  'description': 'Daily news headlines of Wired UK Business'},
 {'name': 'The Week Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d884c5d9516294230a04197',
  'id_dataset': '5d884c5d9516294230a04197',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 1508,
  'intersection': '30.38%',
  'description': 'Daily news headlines of The Week Business'},
 {'name': 'Herald Scotland Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d884bb79516294231c59636',
  'id_dataset': '5d884bb79516294231c59636',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 7983,
  'intersection': '30.78%',
  'description': 'Daily news headlines of Herald Scotland Business'},
 {'name': 'the Guardian Business News Headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d5aacf39516296e5749de5d',
  'id_dataset': '5d5aacf39516296e5749de5d',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2811,
  'intersection': '31.11%',
  'description': 'the Guardian Business News Headlines daily headlines'},
 {'name': 'Reuters Business News Headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d5718339516293a12ad4f3f',
  'id_dataset': '5d5718339516293a12ad4f3f',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 7967,
  'intersection': '31.23%',
  'description': 'Reuters Business News Headlines daily headlines'},
 {'name': 'Breitbart Business News Headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d57170a9516293a12ad4f36',
  'id_dataset': '5d57170a9516293a12ad4f36',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 4424,
  'intersection': '31.37%',
  'description': 'Breitbart Business News Headlines daily headlines'},
 {'name': 'National Review Business News Headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d571e5a9516293a13832040',
  'id_dataset': '5d571e5a9516293a13832040',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 4930,
  'intersection': '31.52%',
  'description': 'National Review Business News Headlines daily headlines'},
 {'name': 'New York Post Business News Headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d5715e59516293a12ad4f2f',
  'id_dataset': '5d5715e59516293a12ad4f2f',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 706,
  'intersection': '31.8%',
  'description': 'New York Post Business News Headlines daily headlines'},
 {'name': 'New York Times Business News Headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d5aaf2d9516296e5749de63',
  'id_dataset': '5d5aaf2d9516296e5749de63',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 2805,
  'intersection': '31.8%',
  'description': 'New York Times Business News Headlines daily headlines'},
 {'name': 'Newslanes Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d88482f9516294230a04109',
  'id_dataset': '5d88482f9516294230a04109',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 475,
  'intersection': '32.2%',
  'description': 'Daily news headlines of Newslanes Business'},
 {'name': 'Channel 4 Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d8cc52695162904d39b9b11',
  'id_dataset': '5d8cc52695162904d39b9b11',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 83,
  'intersection': '32.58%',
  'description': 'Daily news headlines of Channel 4 Business'},
 {'name': 'Buzzfeed News Business News Headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d5ab67d9516296e5749de9a',
  'id_dataset': '5d5ab67d9516296e5749de9a',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 599,
  'intersection': '32.74%',
  'description': 'Buzzfeed News Business News Headlines daily headlines'},
 {'name': 'Cision Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d865eec9516296ba7e6a407',
  'id_dataset': '5d865eec9516296ba7e6a407',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 496,
  'intersection': '32.74%',
  'description': 'Daily news headlines of Cision Business'},
 {'name': 'Vox Business News Headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5d5ab55b9516296e5749de96',
  'id_dataset': '5d5ab55b9516296e5749de96',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 7044,
  'intersection': '33.0%',
  'description': 'Vox Business News Headlines daily headlines'},
 {'name': 'Free Press Journal Business headlines',
  'url': 'https://www.openblender.io/#/dataset/explore/5da9256995162922aa02df2c',
  'id_dataset': '5da9256995162922aa02df2c',
  'features': ['headline', 'publisher', 'timestamp', 'title', 'url'],
  'num_observations': 3388,
  'intersection': '34.41%',

In [7]:
positive_filter = {'name' : 'apple', 
                   'match_ngrams': ['apple', 'iphone', 'ipad', 
                                    'tim cook', 'mac store']}
# We need to pass the 'id_dataset', the name of the
# column (which is 'text') and an optional filter.
blend_source = {
                'id_dataset':'5e2ef74e9516294390e810a9',
                'feature' : 'text',
                'filter_text' : positive_filter
            }
df_blend = OpenBlender.timeBlend( token = token,
                                  anchor_ts = df.timestamp,
                                  blend_source = blend_source,
                                  blend_type = 'agg_in_intervals',
                                  interval_size = 60 * 60 * 24,
                                  direction = 'time_prior',
                                  interval_output = 'list')
df_anchor = pd.concat([df, df_blend.loc[:, df_blend.columns != 'timestamp']], axis = 1)
df_anchor

Task ID: '5fb0f2e60895fafb4a9d8d4c'.
Total estimated consumption: 56360.0 processing units.
Task confirmed. Starting download..
71.0%
100%

,price,high,count_agg,low,open,change,date,timestamp,WALL_STREE.text_COUNT_last1days:apple,WALL_STREE.text_last1days:apple
0,116.15,116.330000,0,114.760000,115.800000,0.28,01-01-2017 00:00:00,1.483229e+09,0,[]
1,116.15,116.330000,0,114.760000,115.800000,0.28,02-01-2017 00:00:00,1.483315e+09,0,[]
2,116.15,116.330000,0,114.760000,115.800000,0.28,03-01-2017 00:00:00,1.483402e+09,0,[]
3,116.15,116.330000,1,114.760000,115.800000,0.28,04-01-2017 00:00:00,1.483488e+09,0,[]
4,116.02,116.510000,1,115.750000,115.850000,-0.11,05-01-2017 00:00:00,1.483574e+09,1,[apple confirms 1 billion investment in softba...
...,...,...,...,...,...,...,...,...,...,...
1404,119.03,119.620000,1,116.880000,118.000000,3.55,06-11-2020 00:00:00,1.604621e+09,0,[]
1405,118.69,119.200000,1,116.130000,118.410000,-0.29,07-11-2020 00:00:00,1.604707e+09,0,[]
1406,117.90,120.126667,0,116.126667,119.106667,-0.86,08-11-2020 00:00:00,1.604794e+09,0,[]
1407,117.11,121.053333,0,116.123333,119.803333,-1.43,09-11-2020 00:00:00,1.604880e+09,0,[]
1408,116.32,121.980000,1,116.120000,120.500000,-2.00,10-11-2020 00:00:00,1.604966e+09,0,[]

In [8]:
action = 'API_createTextVectorizerPlus'
parameters = {
    'token' : token,
    'name' : 'Wall Street and USA Today Vectorizer',
    'sources':[
              {'id_dataset':"5e2ef74e9516294390e810a9", 
               'features' : ["text"]},
              {'id_dataset' : "5e32fd289516291e346c1726", 
               'features' : ["text"]}
    ],
    'ngram_range' : {'min' : 1, 'max' : 2},
    'language' : 'en',
    'remove_stop_words' : 'on',
    'min_count_limit' : 2
}
response = OpenBlender.call(action, parameters)
response

{'status': 'success',
 'num_ngrams': 4999,
 'response': 'Text Vectorizer created successfully.',
 'id_textVectorizer': '5fb0f300951629785fb674ce'}

In [14]:
blend_source = { 
                'id_textVectorizer':'5f74fb7895162967ca2160fe'
               }
df_blend = OpenBlender.timeBlend( token = "5fb0f378951629785ed1d0eap7jFIo0X6dT8ywpNkXxK9jxv9XoxkL",
                                  anchor_ts = df_anchor.timestamp,
                                  blend_source = blend_source,
                                  blend_type = 'agg_in_intervals',
                                  interval_size = 60 * 60 * 24,
                                  direction = 'time_prior_strict') .add_prefix('VEC.')
df_anchor = pd.concat([df_anchor, df_blend.loc[:, df_blend.columns != 'timestamp']], axis = 1)
df_anchor.head()

Task ID: '5fb0f3970895fafb4a9d8d4c'.
Total estimated consumption: 197268.38 processing units.
Task confirmed. Starting download..
25.0%
50.0%
75.0%
99.0%
100%

,price,high,count_agg,low,open,change,date,timestamp,WALL_STREE.text_COUNT_last1days:apple,WALL_STREE.text_last1days:apple,...,VEC.day week,VEC.portion,VEC.lift,VEC.compete,VEC.pension,VEC.tensions,VEC.rural,VEC.accidents,VEC.oklahoma,VEC.richard
0,116.15,116.33,0,114.76,115.80,0.28,01-01-2017 00:00:00,1.483229e+09,0,[],...,0,0,0,0,0,0,0,0,0,0
1,116.15,116.33,0,114.76,115.80,0.28,02-01-2017 00:00:00,1.483315e+09,0,[],...,0,0,0,1,0,1,0,0,0,0
2,116.15,116.33,0,114.76,115.80,0.28,03-01-2017 00:00:00,1.483402e+09,0,[],...,0,0,0,0,0,0,0,0,0,0
3,116.15,116.33,1,114.76,115.80,0.28,04-01-2017 00:00:00,1.483488e+09,0,[],...,0,0,0,0,0,0,0,0,0,0
4,116.02,116.51,1,115.75,115.85,-0.11,05-01-2017 00:00:00,1.483574e+09,1,[apple confirms 1 billion investment in softba...,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# Where â€˜changeâ€™ decreased more than 0.5%
df_anchor['negative_poc'] = [1 if log_diff < -0.005 else 0 for log_diff in df_anchor['change']]
# Where â€˜changeâ€™ increased more than 0.5%
df_anchor['positive_poc'] = [1 if log_diff > 0.005 else 0 for log_diff in df_anchor['change']]
# We need to shift our target one day so that we predict 
# for what will happen 'tomorrow' with news and data from 'today'
df_anchor['target'] = df_anchor['positive_poc'].shift(-1)
df_anchor[['change', 'positive_poc', 'target']]

      change  positive_poc  target
0       0.28             1     1.0
1       0.28             1     1.0
2       0.28             1     1.0
3       0.28             1     0.0
4      -0.11             0     1.0
...      ...           ...     ...
1402    1.54             1     1.0
1403    4.08             1     1.0
1404    3.55             1     0.0
1405   -0.29             0     0.0
1406   -0.86             0     NaN

[1407 rows x 3 columns]

In [16]:
# Import libraries
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn import metrics
df_anchor = df_anchor[:-1] # Remove the last one with NaN
# Define target
target = 'target'
df_positive = df_anchor[1:].select_dtypes(['number'])
# Create train/test sets
X = df_positive.loc[:, df_positive.columns != target].values
y = df_positive.loc[:,[target]].values
div = int(round(len(X) * 0.71))
X_train = X[:div]
y_train = y[:div]
X_test = X[div:]
y_test = y[div:]
print('Train:')
print(X_train.shape)
print(y_train.shape)
print('Test:')
print(X_test.shape)
print(y_test.shape)

Train:
(998, 4887)
(998, 1)
Test:
(408, 4887)
(408, 1)

In [17]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 1)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

C:\Users\j3543\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [18]:
print("AUC score:")
print(roc_auc_score(y_test, y_pred))
print('---')
# Let's binarize and look at the confusion matrix
preds = [1 if val > 0.5 else 0 for val in y_pred]
print('Confusion Matrix:')
print(metrics.confusion_matrix(y_test, preds))
print('---')
# Lets look at the accuracy score
print('Accuracy:')
print(accuracy_score(y_test, preds))
print('---')

AUC score:
0.6594089038533484
---
Confusion Matrix:
[[ 85  80]
 [ 84 159]]
---
Accuracy:
0.5980392156862745
---